:root {
  /* Colors */
  --primary: #BF171C;
  --secondary: #FDFDFD;

  /* Text */
  --sort: #222427;
  --hvid: #FDFDFD;

  /* Backgrounds - Dark Mode */
  --bg: #F6F0E4;
  --bg-card: #3c4043;

  /* Semantic */
  --grøn: #34a853;
  --gul: #fbc02d;
  --rød: #ea4335;
  --blå: #0F5296;

  /* Effects */
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.4);
  --radius: 1rem;
  --transition: 250ms ease;

  /* Fonts */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet");
}

/*typography*/
h1 {
  font-size: 2.5rem;      /* size of the text */
  font-weight: 700;       /* how bold it is */
  color: var(--primary);            /* text color */
  text-align: center;     /* align text to the center */
  margin-bottom: 1rem;    /* space below */
  font-family: "Lobster", sans-serif; /* choose a font */
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--sort);
  margin-top: 2rem;       /* space above */
  margin-bottom: 0.5rem;  /* space below */
  text-transform: uppercase; /* optional: make text all caps */
  font-family: "Poppins", sans-serif;
}



header {
  text-align: center;
  margin-bottom: 2rem;
}